@media (max-width: 600px) {
	.field {
		justify-content: center;
		flex-direction: column;
	}
	.field-group {
		padding: 0;
		margin-top: 0.5em;
		width: 100%;
	}
	input, button {
		width: 100%;
	}

	.result {
		font-size: 1.3em;
	}
}